h1{
	border:dotted blue 35px;
}
h2{
	border:dotted yellow 35px;
}
h3{
	border:dotted blue 35px;
}
h4{
	border:dotted yellow 35px;
}
h5{
	border:dotted blue 35px;
}
img{
	width: 1000px;
	height: 1000px;
}